@model WebApplication1.Models.Cliente

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombreCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.apellidos)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.apellidos)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identificacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identificacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.usuarioCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.usuarioCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasenaCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasenaCliente)
        </dd>

       
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCliente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
