@model WebApplication1.Models.Servicio

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Servicio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.identifidor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.identifidor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombreServicio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombreServicio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.monto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.monto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cuenta.numCuenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cuenta.numCuenta)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idServicio }) |
    @Html.ActionLink("Back to List", "Index")
</p>
