@model WebApplication1.Models.Cuenta

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Cuenta</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <form action="Create" method="post">
        <label> Producto </label>
        <input id="Text1" type="text" name="producto" />

        <label> Moneda </label>
        <input id="Text1" type="text" name="moneda" />

        <label> Oficina </label>
        <input id="Text1" type="text" name="oficina" />

        <label> Cuenta </label>
        <input id="Text1" type="text" name="num" />

        <label> Digito </label>
        <input id="Text1" type="text" name="digito" />



        <div class="form-group">
            @Html.LabelFor(model => model.banco, "banco", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("banco", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.banco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.propietarioCuenta, "propietarioCuenta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("propietarioCuenta", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.propietarioCuenta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.saldo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.saldo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.saldo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.direccion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </form>
</div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
